<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Art of Arita</title>
  <link rel="stylesheet" href="/static/css/about.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/site.webmanifest">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="contentBox">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                    <div class="button">
                        <a data-modal href="#">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <i href=""><ion-icon name="logo-discord"></ion-icon></i>
                    <i href=""><ion-icon name="logo-whatsapp"></ion-icon></i>
                </div>
            </div>
            <div class="img">
                <img src="/static/img/img-1.jpg">
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal__body">
            <div class="modal__content">
              <form action="#">
                <div class="modal__close" data-close>&times;</div>
                <div class="modal__title">Это ещё находиться в розработке</div>
              </form>
            </div>
        </div>
    </div>

    <script src="/static/js/about.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>    
</body>
</html>