<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Art of Arita</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="/static/css/feedback.css">
</head>
<body>
    <div class="contactUs">
        <div class="title">
            <h2>Get in Touch</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Send a Message</h3>
                <form>
                    <div class="form__box">
                        <div class="row">
                            <div class="input__box">
                                <span>First Name</span>
                                <input type="text" placeholder="for instance: Ilya">
                            </div>
                            <div class="input__box">
                                <span>Last Name</span>
                                <input type="text" placeholder="for instance: Balashov">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input__box">
                                <span>Email</span>
                                <input type="text" placeholder="for instance: ilya@2005gmail.com">
                            </div>
                            <div class="input__box">
                                <span>Mobile</span>
                                <input type="text" placeholder="for instance: +8 800 555 35 35">
                            </div>
                        </div>

                        <div class="row1">
                            <div class="input__box">
                                <span>Message</span>
                                <textarea placeholder="Write your message here..."></textarea>
                            </div>
                        </div>    

                        <div class="row1">
                            <div class="input__box">
                                <input type="submit" value="Send">
                            </div>
                        </div>  

                    </div>
                </form>
            </div>
            <div class="contact info"></div>
            <div class="contact map"></div>
        </div>
    </div>
</body>