<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Art of Arita</title>
  <link rel="stylesheet" href="/static/css/feedback.css">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/site.webmanifest">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="contactUs">
        <div class="title">
            <h2>Get in Touch</h2>
        </div>
        <div class="box">
            <div class="contact form">
                <h3>Send a Message</h3>
                <form>
                    <div class="form__box">
                        <div class="row">
                            <div class="input__box">
                                <span>First Name</span>
                                <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off  type="text" name="name" placeholder="for instance: Ilya" class="modal__input">
                            </div>
                            <div class="input__box">
                                <span>Last Name</span>
                                <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off  type="text" name="surname" placeholder="for instance: Balashov" class="modal__input">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input__box">
                                <span>Email</span>
                                <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off type="email" name="email" placeholder="for instance: ilya@2005gmail.com" class="modal__input">
                            </div>
                            <div class="input__box">
                                <span>Mobile</span>
                                <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off placeholder="for instance:" name="phone" type="phone" placeholder="for instance: +8 800 555 35 35" class="modal__input">
                            </div>
                        </div>

                        <div class="row1">
                            <div class="input__box">
                                <span>Message</span>
                                <textarea required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off placeholder="Write your message here..." name="text" type="text" class="modal__input"></textarea>
                            </div>
                        </div>    

                        <div class="row1">
                            <div class="input__box">
                                <input data-modal type="submit" value="Send">
                            </div>
                        </div>  

                    </div>
                </form>
            </div>
            <div class="contact info">
                <h3>Contact Information</h3>
                <div class="info__box">
                    <div>
                        <span><ion-icon name="location-outline"></ion-icon></span>
                        <p>Blackford, Edinburgh <br>SCOTLAND</p>
                    </div>
                    <div>
                        <span><ion-icon name="mail-outline"></ion-icon></span>
                        <a href="#">artofarita@gmail.com</a>
                    </div>
                    <div>
                        <span><ion-icon name="call-outline"></ion-icon></span>
                        <a href="#">+8 800 555 35 35</a>
                    </div>
                </div>
                <ul class="social__medias">
                    <li><a href=""><ion-icon name="logo-discord"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-whatsapp"></ion-icon></a></li>
                </ul>
            </div>
            <div class="contact map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8941.325565944157!2d-3.1935332201333937!3d55.92629279228198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7651748c239%3A0x497100d6ac23fc1d!2zQmxhY2tmb3JkLCDQrdC00LjQvdCx0YPRgNCzIEVIOSAzRVAsINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2sua!4v1635706543155!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal__body">
            <div class="modal__content">
              <form  action="#">
                <div class="modal__close" data-close>&times;</div>
                <div class="modal__title">Заполните все поля для начало</div>
              </form>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/feedback.js"></script>
</body>
</html>