<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Art of Arita</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <link rel="stylesheet" href="/static/css/slider.css">
</head>
<body>
   <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/static/img/1.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/2.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/3.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/4.jpg"></div>
        <div class="swiper-slide"><img src="/static/img/5.jpg"></div>
      </div>

      <div class="swiper-pagination"></div>
   </div> 

  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="/static/js/slider.js"></script>
</body>